@import models.route.RouteDetail
@(
user: models.auth.User,
route: models.route.Route,
routeDetails: Set[RouteDetail],
visits: List[models.data.Event],
token: String,
visitUrl: Call,
removeLast: Call,
removeAll: Call
)(implicit request: Request[AnyContent])

@templates.main(route.from.name +" - "+route.to.name+" ("+route.from.id+" - "+route.to.id+")", "Routes", Some(user)){


<script type="text/javascript">
    const token = "@token";



</script>


        <div class="alert alert-primary" role="alert" id="@route.srsCode" style="padding-top:10px">
            <h1>@route.from.name - @route.to.name (@route.from.id - @route.to.id)</h1>
            <h3 id="@route.srsCode-header">@route.srsCode</h3>
        </div>
        <script>
        const srsInfo = findSrsData('@route.srsCode');
        const header = document.getElementById('@route.srsCode');

        header.style.backgroundColor = srsInfo["colour"];
        header.style.color = srsInfo["textColour"];

        const title = document.getElementById('@route.srsCode-header');
        title.textContent = "@route.srsCode - " + srsInfo["route"] + " / " + srsInfo["region"];

        </script>

        <div class="row">
            <div class="col-sm">
                <h3>Location Data</h3>
                <ul class="list-unstyled">
                    <li><h4>From</h4>
                        <dl class="row">
                            <dt class="col-sm-3">ID</dt>
                            <dd class="col-sm-9"><a href="/location/detail/@route.from.id">@route.from.id</a></dd>
                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9"><a href="/location/detail/@route.from.id">@route.from.name</a></dd>
                            <dt class="col-sm-3">Lat</dt>
                            <dd class="col-sm-9">@route.from.lat</dd>
                            <dt class="col-sm-3">Lon</dt>
                            <dd class="col-sm-9">@route.from.lon</dd>
                            @if(!routeDetails.map(_.from.getType).mkString.isBlank) {
                                <dt class="col-sm-3">Location Type</dt>
                                <dd class="col-sm-9">@routeDetails.map(_.from.getType).mkString(",")</dd>
                            }
                        </dl>
                    </li>
                    <li><h4>To</h4>
                        <dl class="row">
                            <dt class="col-sm-3">ID</dt>
                            <dd class="col-sm-9"><a href="/location/detail/@route.to.id">@route.to.id</a></dd>
                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9"><a href="/location/detail/@route.to.id">@route.to.name</a></dd>
                            <dt class="col-sm-3">Lat</dt>
                            <dd class="col-sm-9">@route.to.lat</dd>
                            <dt class="col-sm-3">Lon</dt>
                            <dd class="col-sm-9">@route.to.lon</dd>
                            @if(!routeDetails.map(_.to.getType).mkString.isBlank) {
                                <dt class="col-sm-3">Location Type</dt>
                                <dd class="col-sm-9">@routeDetails.map(_.to.getType).mkString(",")</dd>
                            }
                        </dl>
                    </li>
                </ul>

            </div>
            <div class="col-sm">
                <h3>Route Data</h3>
                <dl class="row">
                @if(!route.toc.isBlank) {
                    <dt class="col-sm-3">Primary Operator</dt>
                    <dd class="col-sm-9"><a href="/toc/@route.toc">@route.toc</a></dd>
                }
                @if(!route.srsCode.isBlank) {
                    <dt class="col-sm-3">SRS Code</dt>
                    <dd class="col-sm-9"><a href="/srs/@route.srsCode">@route.srsCode</a></dd>
                }
                    <dt class="col-sm-3">Distance</dt>
                    <dd class="col-sm-9">@(route.distance/1000.0)km</dd>
                    <dt class="col-sm-3">Approximate Travel Time</dt>
                    <dd class="col-sm-9">@(route.travelTimeInSeconds/60) minutes</dd>

                    @for(details <- routeDetails){
                        @if(!details.electrification.isBlank) {
                            <dt class="col-sm-3">Electrification</dt>
                            <dd class="col-sm-9">@details.electrification</dd>
                        }
                        @if(!details.singleTrack.isBlank) {
                            <dt class="col-sm-3">Number of Tracks</dt>
                            <dd class="col-sm-9">@details.singleTrack</dd>
                        }
                        @if(!details.`type`.isBlank) {
                            <dt class="col-sm-3">Route Type</dt>
                            <dd class="col-sm-9">@details.getType</dd>
                        }
                        @if(!details.speed.isBlank) {
                            <dt class="col-sm-3">Speed</dt>
                            <dd class="col-sm-9">@details.speed</dd>
                        }
                    }
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <div id="route-visit-form">
                            @helper.form(visitUrl, Symbol("id") -> "visit-form") {
                            @helper.CSRF.formField
                            <input type="hidden" id="Authorization" name="Authorization" value="@token"/>
                            <button id="visit" class="btn btn-primary">Visit</button>
                            }
                        </div>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">

                        <div id="route-remove-last-visit-form">
                            @helper.form(removeLast, Symbol("id") -> "visit-form") {
                            @helper.CSRF.formField
                            <input type="hidden" id="Authorization-last-visit" name="Authorization" value="@token"/>
                            <button id="remove-last-visit" class="btn btn-danger">Remove Last Visit</button>
                            }
                        </div>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <div id="route-remove-all-visit-form">
                            @helper.form(removeAll, Symbol("id") -> "visit-form") {
                            @helper.CSRF.formField
                            <input type="hidden" id="Authorization-all-visit" name="Authorization" value="@token"/>
                            <button id="remove-all-visit" class="btn btn-danger">Remove All Visit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col col-sm">
                @templates.map.map(List.empty, List(route))
            </div>
        </div>
    <div class="row">
    @if(visits.nonEmpty){
        <div class="col-sm">
            <h3>Visits</h3>
            <ul>
            @for(visit <- visits){
                <li><a href="/profile/visits/by/event/@visit.id">@visit.name</a></li>
            }
            </ul>
        </div>
    }
    </div>

}