@(user: Option[models.auth.User], highlightMenuPosition: String = "")

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/toy-train.svg" width="24" height="24" alt="application icon"/>
        All the Stations & Track
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class='nav-item @if(highlightMenuPosition.equals("Home")){ active }'>
                <a class="nav-link" href="/">Home</a>
            </li>
            @if(user.isDefined && user.get.roles.contains(models.auth.roles.VisitUser)){
            <li class='nav-item @if(highlightMenuPosition.equals("Map")){ active }'>
                <a class="nav-link" href="/map">Map</a>
            </li>
            <li class='nav-item @if(highlightMenuPosition.equals("Locations")){ active }'>
                <a class="nav-link" href="/locations">Locations</a>
            </li>
            <li class='nav-item @if(highlightMenuPosition.equals("Routes")){ active }'>
                <a class="nav-link" href="/routes">Routes</a>
            </li>
            }
            @if(user.isDefined && user.get.roles.contains(models.auth.roles.PlanUser)){
            <li class='nav-item @if(highlightMenuPosition.equals("Plan")){ active }'>
                <a class="nav-link" href="/plan">Plan</a>
            </li>

            }
            @if(user.isDefined){
            <li class='nav-item @if(highlightMenuPosition.equals("Profile")){ active }'>
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            }
            @if(user.isDefined && user.get.roles.contains(models.auth.roles.AdminUser)){
            <li class='nav-item @if(highlightMenuPosition.equals("Admin")){ active }'>
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            }
            @if(user.isDefined){
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            }
        </ul>
    </div>
</nav>
