@import helper._

@(
user: models.auth.User,
routeVisits: Map[(String, String), List[String]],
invalidRoutes: Set[(String, String)],
mapRoutes: List[models.route.MapRoute]
)(implicit request: Request[AnyContent])

@templates.main("All Visits by Route", "Profile", Some(user)){


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
        <li class="breadcrumb-item"><a href="/profile/visits">Visits</a></li>
        <li class="breadcrumb-item active" aria-current="page">By Route</li>
    </ol>
</nav>

        <div class="row">
            <div class="col-sm">
                <h1>Routes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                @for((key, value) <- routeVisits) {
                <ul>
                    <li>
                        <a href="/route/detail/@key._1/@key._2" target="_blank">@key._1 - @key._2</a> - visited @value.size times
                        @if(invalidRoutes.contains(key._1, key._2)){
                            <span class="badge badge-danger">Invalid Route</span>
                            @if(user.roles.contains(models.auth.roles.AdminUser)){
                                <a href="/admin/routes/migrate?from=@key._1&to=@key._2">Migrate Route</a>
                            }
                        }
                        <ul>
                            @for(v <- value){
                            <li><a href="/profile/visits/by/event/@v">@v</a></li>
                            }
                        </ul>
                    </li>
                </ul>

                }
            </div>
        </div>


<script type="text/javascript">
        createMap();
        @for(route <- mapRoutes) {
            addSingleConnection(
            {
                "from": {
                    "lat":@route.from.lat,
                    "lon":@route.from.lon
                },
                "to": {
                    "lat":@route.to.lat,
                    "lon":@route.to.lon
                },
                "srs":"@route.srsCode",
                "toc":"@route.toc"
            })
        }

</script>

}