@import helper._

@(
user: models.auth.User,
locationVisits: List[models.data.LocationVisit],
locationVisitEvents: Map[String, List[models.data.Event]],
mapLocations: List[models.location.MapLocation]
)(implicit request: Request[AnyContent])
@templates.main("All Visits by Location", "Profile", Some(user)){

        <div class="row">
            <div class="col-sm">
                <h1>Locations</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                @for(visit <- locationVisits) {
                <ul>
                    <li>
                        <a href="/location/detail/@visit.visited.id" target="_blank">@visit.visited.name</a> [@visit.visited.crs.mkString(" ")] (@visit.visited.id)<br/>
                        <span class="badge badge-info">Visited -1 times</span> @if(true) {<span class="badge badge-dark">Location -1</span>}
                        <ul>
                            @for(events <- locationVisitEvents.get(visit.visited.id) ){
                              @for(event <- events) {
                                  <li><a href="/profile/visits/by/event/@event.id">@event.name - (@event.startedAt - @event.endedAt)</a></li>
                              }
                            }
                        </ul>
                    </li>
                </ul>

                }
            </div>
        </div>


<script type="text/javascript">
        createMap();
        @for(location <- mapLocations){

            addLocation(
            {
                "location": {
                    "lat":@location.location.lat,
                    "lon":@location.location.lon
                },
                "operator":"@location.operator"
            })
        }
</script>
}