@(location: models.location.Location,
visits: List[String],
token: String,
visitUrl: Call,
removeLast: Call,
removeAll: Call)

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<div>
    <h1>
        Location
    </h1>

    <div id="location-visit-form">
        @helper.form(visitUrl, 'id -> "visit-form") {
        @helper.CSRF.formField
        <input type="hidden" id="Authorization" name="Authorization" value="@token"/>
        <button id="visit">Visit</button>
        }
    </div>

    <div id="location-remove-last-visit-form">
        @helper.form(removeLast, 'id -> "visit-form") {
        @helper.CSRF.formField
        <input type="hidden" id="Authorization-last-visit" name="Authorization" value="@token"/>
        <button id="remove-last-visit">Remove Last Visit</button>
        }
    </div>

    <div id="location-remove-all-visit-form">
        @helper.form(removeAll, 'id -> "visit-form") {
        @helper.CSRF.formField
        <input type="hidden" id="Authorization-all-visit" name="Authorization" value="@token"/>
        <button id="remove-all-visit">Remove All Visit</button>
        }
    </div>
    <p>@location</p>
</div>