@import helper._

@(id: String,
name: String,
foreground: String,
background: String)(implicit request: Request[AnyContent])
@templates.main("Operator " + name, "Operators", None){


        <div class="row">
            <div class="col-sm">
                <h1>Operator @name</h1>
            </div>
        </div>
        <div class="row">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="/locations/by/crs?operator=@id" role="button" class="btn btn-primary">Locations for Operator</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm">
                    <legend>ID & Name</legend>
                    <div class="form-row">
                        <div class="col form-group">
                                ID: @id
                        </div>
                        <div class="col form-group">
                            Name: @name
                        </div>
                    </div>
                    <legend>Display</legend>
                    <div class="alert alert-primary" style="background-color:@background; color:@foreground;">
                        This is a sample of the colour
                    </div>
            </div>
        </div>
}
